.color-red {
  color: red;
}
// tr.mat-mdc-row:nth-child(even) {
//   background-color: rgb(244, 252, 251);
// }
tr.mat-mdc-row {
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid hsla(241, 100%, 24%, 0.158);
  border-top: 1px solid hsla(241, 100%, 24%, 0.158);
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: rgba(128, 128, 128, 0.144);
  background-color: rgba(128, 128, 128, 0.144);
}
.mat-mdc-cell {
  border-right: 1px solid hsla(241, 100%, 24%, 0.158);
}
// tr.mat-mdc-row:nth-child(even) {
//   background-color: rgb(244, 252, 251);
// }
/* Green background for OK status */
.status-ok {
  background-color: #8be6a0; /* light green */
}

/* Red background for MISSING status */
.status-missing {
  background-color: #ec7d87; /* light red */
}

/* Grey background for NEW status */
.status-new {
  background-color: #c6c9ce; /* light grey */
}
/* Custom width for Asset ID column */
/* Set width for Asset ID column header and cells */
.asset-id-header,
.asset-id-cell {
  overflow: hidden; /* Ensures content doesn't overflow */
  text-overflow: ellipsis; /* Optional: Adds ellipsis if text is too long */
  white-space: nowrap; /* Prevents text wrapping */
}
