$headerColor: #2cd8f7;

div.tablecontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  background-color: azure;
  text-align: center;
  padding: 1rem;
}

div.toolbar {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: end;
}
table {
  width: 100%;
  box-shadow: none;
  border: 1px solid hsla(241, 100%, 24%, 0.158);
}
.mat-column-AssetId {
  padding-right: 24px;
  text-align: center;
  font-weight: bold;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid hsla(241, 100%, 24%, 0.158);
  border-top: 1px solid hsla(241, 100%, 24%, 0.158);
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: rgba(128, 128, 128, 0.144);
  background-color: rgba(128, 128, 128, 0.144);
}
span.active {
  color: green;
}
span.inactive {
  color: red;
}
.mat-mdc-cell {
  border-right: 1px solid hsla(241, 100%, 24%, 0.158);
}
