$headerColor: #2cd8f7;

div.tablecontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 100rem;
  margin: 0 auto 2rem auto;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}

div.toolbar {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: end;
}
table {
  width: 100%;
  box-shadow: none;
  border: 1px solid hsla(241, 100%, 24%, 0.158);
}
.mat-column-AssetId {
  padding-right: 24px;
  text-align: center;
  font-weight: bold;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid hsla(241, 100%, 24%, 0.158);
  border-top: 1px solid hsla(241, 100%, 24%, 0.158);
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
span.active {
  color: green;
}
span.inactive {
  color: red;
}
.mat-mdc-cell {
  border-right: 1px solid hsla(241, 100%, 24%, 0.158);
}
