<div class="tablecontainer">
  <div class="table-label">
    <h1>Assets</h1>
    <mat-form-field appearance="fill">
      <mat-label>Search by Description</mat-label>
      <input
        matInput
        [(ngModel)]="filterDescription"
        (ngModelChange)="onFilterChange()"
        placeholder="Search"
      />
    </mat-form-field>
  </div>
  @if (isFetching()) {
  <mat-spinner></mat-spinner>
  } @else {
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Define columns -->

    <ng-container matColumnDef="assetId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AssetId</th>
      <td mat-cell *matCellDef="let element">{{ element.assetId }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="vmLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>VM_Location</th>
      <td mat-cell *matCellDef="let element">{{ element.vmLocation }}</td>
    </ng-container>

    <ng-container matColumnDef="sapRoom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SAP_Room</th>
      <td mat-cell *matCellDef="let element">{{ element.sapRoom }}</td>
    </ng-container>

    <ng-container matColumnDef="itemStatus">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Status
        <button (click)="onSortStatusClick()">klik</button>
      </th>
      <td mat-cell *matCellDef="let element">
        @switch (element.itemStatus) { @case ('Lack in VM') {
        <div class="status-field">
          <span class="status"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="cancel"
              class="inactive"
            ></mat-icon> </span
          >{{ element.itemStatus }}
        </div>
        } @case ('In Stock') {
        <div class="status-field">
          <span class="status"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="check_circle"
              class="active"
            ></mat-icon></span
          >{{ element.itemStatus }}
        </div>
        } @default {
        <div class="status-field">
          <span class="status"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="error"
              class="warning"
            ></mat-icon></span
          >{{ element.itemStatus }}
        </div>
        } }
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <app-actions
          (finishEvent)="onFinishHandler()"
          [AssetId]="element.assetId"
        ></app-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Custom Pagination Controls -->
  <div class="pagination-controls">
    <div class="page-info">
      <button
        mat-raised-button
        color="primary"
        (click)="onPreviousPage()"
        [disabled]="!canGoPrevious()"
      >
        Previous
      </button>

      <span>Page {{ pageIndex + 1 }} of {{ getTotalPages() }}</span>

      <button
        mat-raised-button
        color="primary"
        (click)="onNextPage()"
        [disabled]="!canGoNext()"
      >
        Next
      </button>
    </div>

    <div class="items-per-page">
      <label for="pageSize">Items per page:</label>
      <select
        id="pageSize"
        [(ngModel)]="pageSize"
        (change)="onPageSizeChange($event)"
      >
        <option *ngFor="let size of pageSizes" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>

  }
</div>
