.roomtile {
  border: grey solid 1px;
  background-color: white;
}
.roomtile p {
  margin-left: 30px;
  margin-top: 15px;
}
.tablefooter {
  padding: 10px;
}
.table-container {
  margin-left: 10px;
  margin-right: 10px;
}
.tablefooter button {
  width: 100%;
  border-radius: 0;
}
