div.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;
}
.filter-container {
  padding: 20px;
}
.background {
  background-color: azure;
  padding: 10px;
}
.filter-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  border: grey solid 1px;
}
