<div class="background">
  <div class="content-container">
    <div class="gridcontainer">
      <app-roomtile
        *ngFor="let room of filteredRooms"
        [roomnum]="room.location"
        [roomData]="room"
      ></app-roomtile>
    </div>
    <div class="filter-container inventory-selector">
      <h4>Inventory: Latest</h4>
      <h5>Area Filter</h5>
      <div>
        <section class="example-section">
          <span class="example-list-section">
            <mat-checkbox
              class="example-margin"
              [checked]="room().selected"
              [indeterminate]="partiallyComplete()"
              (change)="update($event.checked)"
            >
              {{ room().name }}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li *ngFor="let subroom of room().subroom; let i = index">
                <mat-checkbox
                  [checked]="subroom.selected"
                  (change)="update($event.checked, i)"
                >
                  {{ subroom.name }}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>
      </div>
    </div>
  </div>
</div>
