html,
body {
  height: 100%; /* Ensure the body covers the full height of the viewport */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.background {
  min-height: 100vh; /* Ensure the background covers the full height of the viewport */
  background-color: #f0f4f8; /* Softer background color for better contrast */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in the element's total height/width */
}

.content-container {
  display: flex;
  width: 100%;
  margin: 0 auto; /* Center the content horizontally */
  gap: 20px; /* Space between the columns */
}

.gridcontainer {
  flex: 3; /* Grid container takes more space */
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(20vw, 1fr)
  ); /* Responsive columns */
  gap: 20px;
}

.filter-container {
  flex: 1;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  align-self: start;
  position: sticky;
  top: 20px; /* Adjust this value to control how far from the top it should stick */
}

.gridcontainer > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
