<div class="background">
  <div class="filter-container">
    <div class="inventory-selector"></div>
    <h4>Inventory: {{ currentInventory }}</h4>
    <h5>Area Filter</h5>
    <div>
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox
            class="example-margin"
            [checked]="room().selected"
            [indeterminate]="partiallyComplete()"
            (change)="update($event.checked)"
          >
            {{ room().name }}
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <ul>
            @for (subroom of room().subroom; track subroom; let i = $index) {
            <li>
              <mat-checkbox
                [checked]="subroom.selected"
                (change)="update($event.checked, i)"
              >
                {{ subroom.name }}
              </mat-checkbox>
            </li>
            }
          </ul>
        </span>
      </section>
    </div>
  </div>
  <div class="gridcontainer">
    @for (room of datasource?.content; track room.Room ){

    <app-roomtile [roomnum]="room.Room" [roomData]="room"></app-roomtile>
    }
  </div>
</div>
